* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}
#root{
height: 100%;
  min-height: 1400px;
}


